/* Body */
body {
    background-color: lightblue;
    font-family: 'Montserrat';font-size: 22px;
   }
    
   /* Heading */
   h1 {
    color: white;
    text-align: center;
   }
    
   /* Make the image responsive */
   img {
    max-width: 100%;  /* Image will never exceed the width of its container */
    height: auto;     /* Maintain the aspect ratio */
   }
   